{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Sunday School Stats {% endblock %}</h1>
    <h3>Season Total Projections</h3>
    <div class="table-responsive">
        {{ league|safe }}
    </div>
    <br>
    <h3>2021 Results</h3>
    <div class="table-responsive">
        {{ power|safe }}
    </div>
    <br>
    <div id="chart" class="chart"></div>
    <br>
    <div class="table-responsive">
        {{ full_table|safe }}
    </div>
    <br>
    <div class="table-responsive">
    {% for table in tables %}
            {{ table|safe }}
            <br>
    {% endfor %}
    </div>
{% endblock %}
{% block js %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    graphs = {{ pr_chart|safe }};
    Plotly.plot('chart',graphs,{});        
</script>
{% endblock %}